.navbar-nav>li>a::after {
    content: '|';
    padding-left: 10px;
}

/*MAX SM*/
@media (max-width: 1000px) {
    .navbar-nav>li>a::after {
        content: none;
        padding-left: 0;
    }
    .form-select {
        width: 50%!important;
    }
    .search-form {
        width: 100%!important;
    }
}

.navbar-nav>li:last-child>a::after {
    content: none;
}

.bg-light-dark {
    background: #c0c0c0;
}

.btn-dark {
    background: #565656;
}

.bg-light {
    background-color: #eee!important;
}

.nav-link {
    color: #fff!important;
}

.nav-link:hover {
    opacity: 0.55;
    transition: opacity 0.75s;
}

.text-white::placeholder {
    color: #fff;
}

.search {
    border: 0.15px solid rgba(255,255,255,.4);
}

.search:focus {
    background: #c0c0c0;
    outline:none;
    box-shadow: 1px 1px 1px 1px;
    border: 0.15px solid rgba(0, 0, 0, 0.8);
}

p {
    font-size: 15px!important;
}

a {
    text-decoration: none;
}

.linear-background {
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(13.73%, 10.59%, 7.45%, 1.00) 100%, rgba(13.73%, 10.59%, 7.45%, 0.84) 100%);
}

.img-background {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

