<div class="img-background"
    style="background-image: url(https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/{{background}});">
    <div class="linear-background">
        <div class="d-flex flex-row flex-wrap flex-md-nowrap justify-content-center justify-content-md-start">
            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{poster}}"
                class="img-fluid p-md-5 pt-3" alt="">
            <div class="pt-md-5 mt-md-5 mt-2 p-2">
                <h1 class="text-white">{{Titulo}} ({{Ano}})</h1>
                <p class="text-white"><b>Nota:</b> {{Nota}}</p>
                <p class="text-white"><b>Sinpose:</b> {{Sinpose}}</p>
                <p class="text-white"><b>Orçamento:</b> {{Orcamento}}</p>
                <p class="text-white"><b>Produtora:</b> {{Produtora}}</p>
            </div>
        </div>
    </div>
</div>