<nav class="navbar navbar-expand-lg navbar-light bg-light-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/logo.png" height="40px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav pl-3">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Filmes Populares</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="pesquisar.html">Pesquisar</a>
                </li>
                </li>
            </ul>
            <form class="w-25 search-form" id="pesquisar">
                <a href="./pesquisar.html">
                <input style="cursor:pointer" class="form-control me-2 bg-light-dark text-dark search" type="search"
                    placeholder="&#128269; Pesquisar filme" aria-label="Search">
                </a>
            </form>
        </div>
    </div>
</nav>